//
// INDEX
//
// --color
// --fontfamily

// color
$color-main:#3385CB;
$color-sub: #32AA65;
$color-txt: #000000;
$color-border: #707070;

$color-blue: #47B1D8;
$color-green: #32AA65;


// fontfamily
