//
// INDEX
//
// --color
// --fontfamily

// color


// color - sns
$color-twitter: #55acee;
$color-facebook: #315096;
$color-line: #00c300;
$color-hatebu: #008fde;
$color-feedly: #2bb24c;
$color-rss: #f26522;
$color-pocket: #ef4056;


// fontfamily
